# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
raw_data/
useful_data/
*.csv
*.json

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
